# Python - Arquivos compilados e ambientes virtuais
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Banco de Dados - Não queremos versionar os dados simulados, apenas o código
data/*.db
data/*.db-journal

# Frontend - Dependências e pastas de build
node_modules/
dist/
.env
.env.local

# Logs e arquivos do Sistema
*.log
.DS_Store
Thumbs.db

# Docker
.docker/